<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATHKCW6SRdi7hGWbx3zm25U1i565yPKVk</string>
	<key>GCM_SENDER_ID</key>
	<string>358712127461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testlogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testlogin-2c190</string>
	<key>STORAGE_BUCKET</key>
	<string>testlogin-2c190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358712127461:ios:2771938361e38188b8490c</string>
</dict>
</plist>